<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Battleship</title>
  </head>

  <body>
    <div class="container">
      <div class="title"><h1>The Battleship</h1></div>
      <div class="player-turn"><h2></h2></div>
      <div class="player-boards">
        <div class="wrapper">
          <h2>Human Board</h2>
          <div class="human-board"></div>
        </div>
        <div class="wrapper">
          <div class="computer-board"></div>
          <h2>Computer Board</h2>
        </div>
      </div>
      <div class="buttons">
        <button id="placeShipRandom">Random Ship</button>
      </div>
    </div>
    <dialog id="announcement">
      <form method="dialog">
        <h2 id="winner">You Win</h2>
        <button type="button" autofocus id="playAgain">Play Again?</button>
      </form>
    </dialog>
  </body>
</html>
