@import "./reset.css";

.container {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #0b1215;
  color: rgb(0, 255, 0);
}

.title h1 {
  font-size: 3rem;
}
.player-boards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  gap: 2rem;
}

.player-boards .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.board-row {
  display: flex;
}

.board-cell {
  width: 2rem;
  height: 2rem;
  background-color: #0b1215;
  border: 1px solid rgb(0, 255, 0);
}

.computer-board .board-cell:hover {
  background-color: rgb(1, 109, 1);
  cursor: pointer;
}

.human-board .ship {
  background-color: rgb(0, 255, 0);
}

.miss {
  background-color: rgb(1, 109, 1);
}

.player-boards .hit {
  background-color: darkred;
}

dialog {
  background-color: rgb(0, 255, 0);
  color: #0b1215;
  border-top: 5px solid #0b1215;
  border-right: 5px solid #0b1215;
  border-radius: 15px;
  width: 25vw;
  height: 25vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#winner {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
}

#playAgain {
  background-color: #0b1215;
  color: rgb(0, 255, 0);
  border-radius: 15px;
}
.blur {
  filter: blur(2px);
}

button {
  background-color: rgb(0, 255, 0);
  padding: 5px 15px;

  border: none;
  color: #0b1215;
}

#placeShipRandom:hover {
  transform: scale(1.1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}
